<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <timestamp key="startTimestamp" datePattern="yyyyMMddHHmmssSSS"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %C{1.}%M - %msg%n%throwable %nopex</pattern>
        </encoder>
    </appender>
    <!-- Taken from: http://logback.qos.ch/manual/appenders.html#SizeAndTimeBasedRollingPolicy -->
    <appender name="ROLLING" class="de.fraunhofer.iais.eis.ids.index.common.persistence.logging.VerifyingRollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>logs/broker-${startTimestamp}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <!-- each file should be at most 10MB, keep 60 days worth of history, but at most 20GB -->
            <maxFileSize>1MB</maxFileSize>
            <!--<maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>-->
        </rollingPolicy>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %C{1.}%M - %msg%n%throwable %nopex</pattern>
        </encoder>
    </appender>


    <root level="DEBUG">
        <appender-ref ref="ROLLING" />
    </root>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>


</configuration>